<table>
<thead>
  <tr>
      <th>User</th>
      <th>Title</th>
      <th>Due On</th>
  </tr>
</thead>
<tbody>
  <% @user.posts.each do |gig| %>
  <!-- <p>User: <%= gig.user.username %></p>
  <p>Title: <%= gig.title %></p>
  <p>Description <%= gig.description %></p> -->
    <tr>
      <td> <%= gig.user.username %> </td>
      <td> <%= link_to "#{gig.title}", post_path(gig), method: 'get' %> </td>
      <td> <%= gig.created_at%> </td>
    </tr>
  <!-- add button that allows user and vendor to go to show page of message controller and then allows to message -->
  <% end %>

</tbody>
</table>
<% if !@user.posts.empty? %>
<div class="waves-effect waves-light btn", style="float:right"> <%= button_to "All Active Posts", user_posts_path, method: 'get' %> </div>
<% else %>
<div class="waves-effect waves-light btn", style="float:right"> No Active Posts </div>
<% end %>
<br>
