<h2>Edit Your Profile</h2>

<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br>
<%= f.label :last_name %>
<%= f.text_field :last_name %><br>
<%= f.label :street_address %>
<%= f.text_field :street_address %><br>
<%= f.label :city %>
<%= f.text_field :city %><br>
<%= f.label :state %>
<%= f.text_field :state %><br>
<%= f.label :zip_code %>
<%= f.text_field :zip_code %><br>
<%= f.label :phone %>
<%= f.text_field :phone %><br><br>
<%= f.submit "Update Profile"%>
<% end %>
<%= button_to "Cancel", user_path, method: 'get' %>
