<% @posts.each do |post| %>
<a href="<%= post_path(post) %>">
<%= post.id %>
<%= post.title %>
<%= post.description %>
<%= post.responses.count %>
</a>
<%= button_to "Delete", post_path(post), method: 'delete' %>
<% end %>

<%= button_to "Home", user_path(current_user), method: 'get' %>
