<!--
<div class="row">

<% @posts.each do |post| %>

  <div class="posts">
    <a href="<%= post_path(post) %>">
    <%= post.id %>
    <%= post.title %>
    </a>

    <p> Responses: <%= post.responses.count %></p>
    <%= button_to "Delete Post", post_path(post), method: 'delete', class: "waves-effect waves-light btn" %>
    <br>
  </div>


<% end %>
<br>

</div> -->


<div class="row">
<% @posts.each do |post| %>

<div class="col m4">
<div class="card">
  <div class="card-image">
    <img src="https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg">
    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a> -->
  </div>
      <a href="<%= post_path(post) %>">
      <%= post.id %>
      <%= post.title %>
      </a>
  <div class="card-action">
    <div class="row">
    <div class="waves-effect waves-light btn red" style="float:right">
        <%= button_to "Delete Post", post_path(post), method: 'delete'%>
    </div>

    <% if post.responses.count == 0 %>
        <div class="waves-effect waves-light btn green" style="float:left">
            <%= button_to "No Responses Yet", post_path(post), method: 'get'%>
        </div>
    <% else %>
        <div class="waves-effect waves-light btn green" style="float:left">
            <%= button_to "View Responses (#{post.responses.count})", post_path(post), method: 'get'%>
        </div>
    <% end %>


    </div>
  </div>

</div>
</div>

<% end %>
</div>
