<div class="container">
<br>

<%=form_for @response do |f| %>
<div class="input-field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div class="input-field">
<%= f.label :description %>
<%= f.text_field :description %>
</div>
<div class="input-field">
<%= f.label :price_quote %>
<%= f.number_field :price_quote %>
</div>
<%= f.hidden_field :post, value: @response.post.id %>
<div class="waves-effect waves-light btn"> <%= f.submit "Respond" %> <div>
<% end %>

</div>
