<h4>Active Gigs</h4>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Order Date</th>
      <th>Due On</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

<% @gigs.each do |gig| %>
<!-- <p>User: <%= gig.user.username %></p>
<p>Title: <%= gig.title %></p>
<p>Description <%= gig.description %></p> -->
  <tr>
    <td> <%= gig.user.username %> </td>
    <td> <%= link_to "#{gig.title}", message_path(gig), method: 'get' %> </td>
    <td> <%= gig.created_at%> </td>
    <td> <%= gig.created_at%> </td>
    <td> <%= gig.responses.map(&:accepted).first.price_quote %></td>
    <td> In Progress </td>

  </tr>
<!-- add button that allows user and vendor to go to show page of message controller and then allows to message -->
<% end %>
  </tbody>
</table>
