<div class="profile-container"> <h2>Profile</h2>
 <h3><%= @vendor.company_name.capitalize %></h3>
 Member Since: <%= @vendor.created_at.month %> / <%= @vendor.created_at.year %> <br><br>
 <p>Services of Interest</p>
   <% @services.each do |service| %>
   <li><%= service.name %>
 <% end %>
 <div class="waves-effect waves-light btn"> <%= button_to "Add/Remove Services or Edit Your Account", edit_vendor_path, method: 'get' %> </div>
</div>


<div class="row center-align">
<div class="waves-effect waves-light btn"> <%= button_to "Gigs in Progress", vendor_gigs_path(@vendor), method: 'get' %> </div>
<div class="waves-effect waves-light btn"> <%= button_to "Gigs Responded", vendor_responses_path(@vendor), method: 'get' %> </div>
<div class="waves-effect waves-light btn"> <%= button_to "Gigs Available", posts_path, method: 'get' %> </div>
</div>
