






<div class="container">

<div class="row">

      <div class="col s3">
        <div style="text-align:center">
        <h3><%= @vendor.company_name.capitalize %></h3>
        Member Since: <%= @vendor.created_at.month %> / <%= @vendor.created_at.year %> <br><br>
      </div>
        <ul class="collection with-header">
          <li class="collection-header"><b>Services of Interest</b></li>
          <% @services.each do |service| %>
          <li class="collection-item"> <%= service.name %> </li>
        <% end %>
        <a href="<%=edit_vendor_path%>" class="collection-item"> Add/Remove Services </a>

        </ul>

      </div>

      <div class="col s9 push-s4">
        <div class="waves-effect waves-light btn"> <%= button_to "Active Gigs", vendor_gigs_path(@vendor), method: 'get' %> </div>
        <div class="waves-effect waves-light btn"> <%= button_to "Awaiting Response", vendor_responses_path(@vendor), method: 'get' %> </div>
        <div class="waves-effect waves-light btn"> <%= button_to "Gigs Available", posts_path, method: 'get' %> </div>
      </div>

</div>
</div>
