<h1>Log in to your account</h1>
<%= flash[:notice] %>
<%= form_tag '/vendors/login' do %>
<%= label_tag :username %>
<%= text_field_tag :username %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<div class="row">
<div class="waves-effect waves-light btn"> <%= submit_tag "Login" %> </div>
Don't have an account? <%= link_to "Sign Up!", new_vendor_path %>
</div>
<% end %>
