
<h2>Create New Post!</h2>

<%= form_for @post do |f| %>


  <%= f.label :service_id%>
  <div class="input-field col s12 m6">
  <%= f.select :service_id, Service.all.sort_by {|p| p.name}.collect {|p| [ p.name, p.id ] }%>
  </div>


  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :min_price %>
  <%= f.number_field :min_price %>

  <%= f.label :max_price %>
  <%= f.number_field :max_price %>

  <%= f.submit "Get Your Quote!" %>


<% end %>
