
<table>
  <tr>


<th colspan="2" align='center'><h2>Create New Post!</h2></th>
  </tr>
<%= form_for @post do |f| %>
<tr>
<th><%= f.label :service_id%>
</th>
<td> <%= f.select :service_id, Service.all.sort_by {|p| p.name}.collect {|p| [ p.name, p.id ] }%>
</td>
</tr>
<tr>
<th>
  <%= f.label :title %>
</th>
<td>
  <%= f.text_field :title %>
</td>
</tr>
<tr>
<th>
  <%= f.label :description %>
</th>
<td>
  <%= f.text_area :description %>
</td>
</tr>
<tr>
<th>
  <%= f.label :min_price %>
</th>
<td>
  <%= f.number_field :min_price %>
</td>
</tr>
<tr>
<th>
  <%= f.label :max_price %>
</th>
<td>
  <%= f.number_field :max_price %>
</td>
</tr>
<tr>
 <td colspan='2' align='center'><%= f.submit "Get Your Quote!" %></td>
</tr>
</table>

<% end %>
