<!DOCTYPE html>
<html>
  <head>
    <title>SquirrelHop</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <script>
       $(document).ready(function() {
          $('select').material_select();
      });
    </script>


  </head>

  <body>

    <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user || current_vendor %>
              <% if current_user %>
                  <li><%= link_to "Profile", user_path(current_user), method: 'get' %></li>
                  <li><%= link_to "Logout", users_logout_path, method: 'delete' %></li>
              <% else %>
                  <li><%= link_to "Profile", vendor_path(current_vendor), method: 'get' %></li>
                  <li><%= link_to "Logout", vendors_logout_path, method: 'delete' %></li>
              <% end %>
      <% end %>
      <li><%= link_to "Home", root_path%></li>
    </ul>
  </div>
</nav>

    <div class="yield">
      <%= yield %>
    </div>

  </body>

</html>
